In [14]:
import re
from datetime import datetime, timedelta
import pandas as pd
import numpy as np

file = pd.read_csv("6기.csv", encoding='UTF8')

file['Message'] = file['Message'].str.split('\n')

new_file = pd.DataFrame({
    col:np.repeat(file[col].values, file['Message'].str.len())
    for col in file.columns.drop('Message')}
)

new_file['Message'] = [msg for sublist in file['Message'] for msg in sublist]

new_file

,Date,User,Message
0,2024-02-18 22:15:32,박연수,"박연수님이 이준수님, 손하진님, 박하은님, 권세한님, 권하은님, 박지은님, 송호석님..."
1,2024-02-18 22:15:32,박연수,안녕하세요 공부 안하면 돈내는 방 6기 방장 박연수입니다.
2,2024-02-18 22:15:32,박연수,계속하신 분들 새로 오신 분들 오랜만에 오신분들 모두 환영합니다
3,2024-02-18 22:24:24,권하은,이모티콘
4,2024-02-18 22:25:51,박연수,파일: 공안돈공지.pdf
...,...,...,...
853,2024-03-12 20:35:58,이준수,-독서 1시간
854,2024-03-12 20:49:59,임혁규,0312 임혁규 설정
855,2024-03-12 20:49:59,임혁규,- 강의1개
856,2024-03-12 20:49:59,임혁규,- 단어 2day
857,2024-03-12 20:50:14,이신후,0312 이신후 off