In [1]:
import re
from datetime import datetime, timedelta
import pandas as pd
import numpy as np

file = pd.read_csv("6기.csv", encoding='UTF8')

file['Message'] = file['Message'].str.split('\n')

new_file = pd.DataFrame({
    col:np.repeat(file[col].values, file['Message'].str.len())
    for col in file.columns.drop('Message')}
)

new_file['Message'] = [msg for sublist in file['Message'] for msg in sublist]

new_file

,Date,User,Message
0,2024-02-18 22:15:32,박연수,"박연수님이 이준수님, 손하진님, 박하은님, 권세한님, 권하은님, 박지은님, 송호석님..."
1,2024-02-18 22:15:32,박연수,안녕하세요 공부 안하면 돈내는 방 6기 방장 박연수입니다.
2,2024-02-18 22:15:32,박연수,계속하신 분들 새로 오신 분들 오랜만에 오신분들 모두 환영합니다
3,2024-02-18 22:24:24,권하은,이모티콘
4,2024-02-18 22:25:51,박연수,파일: 공안돈공지.pdf
...,...,...,...
1566,2024-03-31 11:00:00,박연수,=====0330 인증 커트라인=====
1567,2024-03-31 11:00:00,박연수,=====0331 설정 커트라인=====
1568,2024-03-31 11:01:11,손하진,0330 손하진 실패
1569,2024-03-31 11:01:11,손하진,0331 손하진 0330 재도전
1570,2024-03-31 19:33:18,권세한,0331 권세한 0329 재도전

In [9]:
pattern_set = r'\d{4}\s?\w+\s?설정' # 설정 정규식
pattern_success = r'\d{4}\s?\w+\s?성공' # 성공 정규식
pattern_fail = r'\d{4}\s?\w+\s?실패' # 실패 정규식
pattern_off = r'\d{4}\s?\w+\s?.*?\s?off' # off 정규식
pattern_offs = r'\d{4}-\d{4}\s?\w+\s?.*?\s?off' # offs 정규식
pattern_retry_set = r'\d{4}\s?\w+\s?\d{4}\s?재도전' # 재도전 설정 정규식
pattern_retry_sucess = r'\d{4}\s?\w+\s?\d{4}\s?재성공' # 재도전 인증 정규식
pattern_time = r'\d{4}\s?'

# set_list = new_file[new_file['Message'].str.contains(pattern_set, regex=True)] 
# success_list = new_file[new_file['Message'].str.contains(pattern_success, regex=True)] 
# fail_list = new_file[new_file['Message'].str.contains(pattern_fail, regex=True)] 
# off_list = new_file[new_file['Message'].str.contains(pattern_off, regex=True)] 
# offs_list = new_file[new_file['Message'].str.contains(pattern_offs, regex=True)] 
# retry_set_list = new_file[new_file['Message'].str.contains(pattern_retry_set, regex=True)] 
# retry_sucess_list = new_file[new_file['Message'].str.contains(pattern_retry_sucess, regex=True)] 

filter_option = f"{pattern_set}|{pattern_success}|{pattern_fail}|{pattern_off}|{pattern_offs}|{pattern_retry_set}|{pattern_retry_sucess}"
filtered_rows = new_file[new_file['Message'].str.contains(filter_option, regex=True)]
filtered_rows = filtered_rows.reset_index(drop=True, inplace=False)
filtered_rows['Late'] = 'O'

filtered_rows

                    Date User                          Message Late
0    2024-02-19 00:40:35  박지은           0219-0220 박지은 여행으로 off    O
1    2024-02-19 03:19:04  권하은  0129-0220 권하은 새터 및 학생회 사업으로 off    O
2    2024-02-19 03:23:12  권세한               0219 권세한 복귀이슈로 off    O
3    2024-02-19 05:36:24  이준수                0219-0224 휴가로 off    O
4    2024-02-19 13:15:49  이준수            0219-0224 이준수 휴가로 off    O
..                   ...  ...                              ...  ...
566  2024-03-31 08:27:33  이신후                      0330 이신후 성공    O
567  2024-03-31 08:31:05  임혁규                      0330 임혁규 성공    O
568  2024-03-31 11:01:11  손하진                      0330 손하진 실패    O
569  2024-03-31 11:01:11  손하진                0331 손하진 0330 재도전    O
570  2024-03-31 19:33:18  권세한                0331 권세한 0329 재도전    O

[571 rows x 4 columns]

In [ ]:
def set_deadline(USER, line):
    if USER in ['권세한', '임혁규', '이신후', '이준수']:
        DEADLINE = 21
    elif 3 <= datetime.strptime(line, "%Y%m%d").month <= 6:
        DEADLINE = 11    
    else :
        DEADLINE = 10
        
    return DEADLINE

In [7]:
for index in range(filtered_rows):
    DATE = filtered_rows['Date'][index]
    USER = filtered_rows['User'][index]
    MESSAGE = filtered_rows['Message'][index]
    LATE = filtered_rows['Late'][index]

ValueError: too many values to unpack (expected 2)