In [8]:
import re
from datetime import datetime, timedelta
import pandas as pd
import numpy as np

file = pd.read_csv("6기.csv", encoding='UTF8')

file['Message'] = file['Message'].str.split('\n')

new_file = pd.DataFrame({
    col:np.repeat(file[col].values, file['Message'].str.len())
    for col in file.columns.drop('Message')}
)

new_file['Message'] = [msg for sublist in file['Message'] for msg in sublist]

new_file

,Date,User,Message
0,2024-02-18 22:15:32,박연수,"박연수님이 이준수님, 손하진님, 박하은님, 권세한님, 권하은님, 박지은님, 송호석님..."
1,2024-02-18 22:15:32,박연수,안녕하세요 공부 안하면 돈내는 방 6기 방장 박연수입니다.
2,2024-02-18 22:15:32,박연수,계속하신 분들 새로 오신 분들 오랜만에 오신분들 모두 환영합니다
3,2024-02-18 22:24:24,권하은,이모티콘
4,2024-02-18 22:25:51,박연수,파일: 공안돈공지.pdf
...,...,...,...
2122,2024-04-15 20:46:51,이준수,0415 이준수 설정
2123,2024-04-15 20:46:51,이준수,-한자 1시간
2124,2024-04-15 20:46:51,이준수,-운동
2125,2024-04-15 20:46:51,이준수,-독서 1시간
2126,2024-04-15 20:46:51,이준수,-레일차량 및 진동학 관련 랩실 1곳 이상 찾아보기 ( 진동관련분야)

In [9]:
pattern_set = r'\d{4}\s?\w+\s?설정' # 설정 정규식
pattern_success = r'\d{4}\s?\w+\s?성공' # 성공 정규식
pattern_fail = r'\d{4}\s?\w+\s?실패' # 실패 정규식
pattern_off = r'\d{4}\s?\w+\s?.*?\s?off' # off 정규식
pattern_offs = r'\d{4}-\d{4}\s?\w+\s?.*?\s?off' # offs 정규식
pattern_retry_set = r'\d{4}\s?\w+\s?\d{4}\s?재도전' # 재도전 설정 정규식
pattern_retry_sucess = r'\d{4}\s?\w+\s?\d{4}\s?재성공' # 재도전 인증 정규식
pattern_time = r'\d{4}\s?'

patterns = [
    r'\d{4}\s?\w+\s?설정',         # 설정 정규식
    r'\d{4}\s?\w+\s?성공',         # 성공 정규식
    r'\d{4}\s?\w+\s?실패',         # 실패 정규식
    r'\d{4}\s?\w+\s?.*?\s?off',    # off 정규식
    r'\d{4}-\d{4}\s?\w+\s?.*?\s?off',  # offs 정규식
    r'\d{4}\s?\w+\s?\d{4}\s?재도전',     # 재도전 설정 정규식
    r'\d{4}\s?\w+\s?\d{4}\s?재성공'     # 재도전 인증 정규식
]

filter_option = '|'.join(patterns)
filtered_rows = new_file[new_file['Message'].str.contains(filter_option)]

# filter_option = f"{pattern_set}|{pattern_success}|{pattern_fail}|{pattern_off}|{pattern_offs}|{pattern_retry_set}|{pattern_retry_sucess}"
# filtered_rows = new_file[new_file['Message'].str.contains(filter_option, regex=True)]
filtered_rows = filtered_rows.reset_index(drop=True, inplace=False)
filtered_rows['Late'] = 'O'

filtered_rows

                    Date User                          Message Late
0    2024-02-19 00:40:35  박지은           0219-0220 박지은 여행으로 off    O
1    2024-02-19 03:19:04  권하은  0129-0220 권하은 새터 및 학생회 사업으로 off    O
2    2024-02-19 03:23:12  권세한               0219 권세한 복귀이슈로 off    O
3    2024-02-19 05:36:24  이준수                0219-0224 휴가로 off    O
4    2024-02-19 13:15:49  이준수            0219-0224 이준수 휴가로 off    O
..                   ...  ...                              ...  ...
774  2024-04-15 20:02:22  임혁규                     0415 임혁규 설정     O
775  2024-04-15 20:45:24  권세한                      0414 권세한 실패    O
776  2024-04-15 20:46:16  권세한                     0415 권세한 off    O
777  2024-04-15 20:46:51  이준수                      0414 이준수 성공    O
778  2024-04-15 20:46:51  이준수                      0415 이준수 설정    O

[779 rows x 4 columns]

In [10]:
for i in filtered_rows['Date']:
   i = datetime.strptime('%Y-%m-%d %H:%M:%S')
   
type(filtered_rows['Date'][0])

TypeError: strptime() takes exactly 2 arguments (1 given)

In [ ]:
def set_deadline(USER, line):
    if USER in ['권세한', '임혁규', '이신후', '이준수']:
        DEADLINE = 21
    elif 3 <= datetime.strptime(line, "%Y%m%d").month <= 6:
        DEADLINE = 11    
    else :
        DEADLINE = 10
        
    return DEADLINE

In [ ]:
import re
from datetime import datetime, timedelta
import pandas as pd
from config import *

def make_off_every_sunday():
    for idx, _ in 설정맵.iterrows():
        if idx.weekday() == 6:
            설정맵.loc[idx] = 'off'
            
def set_deadline(USER, line):
    if USER in ['권세한', '임혁규', '이신후', '이준수']:
        DEADLINE = 21
    elif 3 <= datetime.strptime(line, "%Y%m%d").month <= 6:
        DEADLINE = 11    
    else :
        DEADLINE = 10
        
    return DEADLINE

today = datetime.today() + timedelta(days=1)
date_rng = pd.date_range(start=START_DATE, end=END_DATE, freq='D')

# 데이터프레임 생성
설정맵 = pd.DataFrame(columns=MEMBER, index=date_rng)
벌금맵 = 설정맵
설정맵 = 설정맵.fillna("설정X")
벌금맵 = 벌금맵.fillna(0)

설정맵.loc['2024-02-19'] = '성공'
            
make_off_every_sunday()

file = pd.read_csv("6기.csv", encoding='UTF8')
def filter_msg(file):
    filter_option = f"{pattern_set}|{pattern_success}|{pattern_fail}|{pattern_off}|{pattern_offs}|{pattern_retry_set}|{pattern_retry_sucess}"
    filtered_rows = file[file['Message'].str.contains(filter_option, regex=True)]
    set_rows = file[file['Message'].str.contains(pattern_set, regex=True)].reset_index(drop=True, inplace=False)
    success_rows = file[file['Message'].str.contains(pattern_success, regex=True)].reset_index(drop=True, inplace=False)
    fail_rows = file[file['Message'].str.contains(pattern_fail, regex=True)].reset_index(drop=True, inplace=False)
    off_rows = file[file['Message'].str.contains(f'{pattern_off}|{pattern_offs}', regex=True)].reset_index(drop=True, inplace=False)
    retry_rows = file[file['Message'].str.contains(f'{pattern_retry_set}|{pattern_retry_sucess}', regex=True)].reset_index(drop=True, inplace=False)
    filtered_rows = filtered_rows.reset_index(drop=True, inplace=False)
    filtered_rows['Late'] = 'O'
    
    return filtered_rows, set_rows, success_rows, fail_rows, off_rows, retry_rows
# 지각 여부 확인
def check_late(df):
    i = 0
    for index in range(df.shape[0]):
        DATE = df['Date'][index]
        USER = df['User'][index]
        MESSAGE = df['Message'][index]
        LATE = df['Late'][index]

        result_set = str(re.findall(pattern_set, MESSAGE))[2:][:-2]
        result_retry_set = str(re.findall(pattern_retry_set, MESSAGE))[2:][:-2]

        result_success = str(re.findall(pattern_success, MESSAGE))[2:][:-2]
        result_retry_success = str(re.findall(pattern_retry_sucess, MESSAGE))[2:][:-2]
        result_fail = str(re.findall(pattern_fail, MESSAGE))[2:][:-2]
            
        time_str = DATE
        time_obj = datetime.strptime(time_str, '%Y-%m-%d %H:%M:%S')
        
        if len(result_success) >= 1 | len(result_fail) >= 1 | len(result_retry_success) >= 1:
            if  len(result_retry_success) > 1:
                date_str_next = '2024' + result_retry_success[:4]
                
            elif len(result_fail) > 1:
                date_str_next = '2024' + result_fail[:4]
            
            else:
                date_str_next = '2024' + result_success[:4]

            DEADLINE = set_deadline(USER, date_str_next)
                
            date_obj_next = datetime.strptime(date_str_next + f'{DEADLINE}', "%Y%m%d%H") + timedelta(days=1)
            formatted_date_next = date_obj_next.strftime("%Y-%m-%d %H:%M:%S")
            time_difference_next = time_obj - datetime.strptime(formatted_date_next, "%Y-%m-%d %H:%M:%S")    
            date_str_next = date_obj_next.strftime("%Y-%m-%d")
            date_index_next = datetime.strptime(date_str_next, '%Y-%m-%d')
        
            if time_difference_next.days > 0 or (time_difference_next.days == 0 and time_difference_next.seconds >= 60):
                df['Late'][index] = '지각'
            
        
        elif len(result_set) >= 1 | len(result_retry_set) >= 1:
            if len(result_retry_set) > 1:
                date_str = '2024' + result_retry_set[:4]
            else:
                date_str = '2024' + result_set[:4]
                
            DEADLINE = set_deadline(USER, date_str)

            date_obj = datetime.strptime(date_str + f'{DEADLINE}', "%Y%m%d%H")
            formatted_date = date_obj.strftime("%Y-%m-%d %H:%M:%S")
            time_difference = time_obj - datetime.strptime(formatted_date, "%Y-%m-%d %H:%M:%S")
            date_str = date_obj.strftime("%Y-%m-%d")
            date_index = datetime.strptime(date_str, '%Y-%m-%d')
        
            if time_difference.days > 0 or (time_difference.days == 0 and time_difference.seconds >= 60):
                df['Late'][index] = '지각'
                
    return df
                
# 1. msg에서 요소만 따오기
filtered_rows, set_rows, success_rows, fail_rows, off_rows, retry_rows = filter_msg(file)
filtered_rows = check_late(filtered_rows)
filtered_rows

,Date,User,Message,Late
0,2024-02-19 00:40:35,박지은,0219-0220 박지은 여행으로 off,O
1,2024-02-19 03:19:04,권하은,0129-0220 권하은 새터 및 학생회 사업으로 off,O
2,2024-02-19 03:23:12,권세한,0219 권세한 복귀이슈로 off,O
3,2024-02-19 05:36:24,이준수,0219-0224 휴가로 off,O
4,2024-02-19 13:15:49,이준수,0219-0224 이준수 휴가로 off,O
...,...,...,...,...
540,2024-04-15 19:45:34,이신후,0415 이신후 설정\n- 토익 강의 1강\n- 토익 단어 day 16\n- 운동,O
541,2024-04-15 20:02:22,임혁규,0415 임혁규 설정 \n- 퀴즈 치기\n- 이러닝 강의 2개\n- 토익 강의 1개...,O
542,2024-04-15 20:45:24,권세한,0414 권세한 실패,O
543,2024-04-15 20:46:16,권세한,0415 권세한 off,O
544,2024-04-15 20:46:51,이준수,0414 이준수 성공\n0415 이준수 설정\n-한자 1시간\n-운동\n-독서 1시...,O

In [ ]:
retry_rows
fail_rows
off_rows
filtered_rows
set_rows
success_rows

,Date,User,Message
0,2024-02-20 21:29:50,손하진,0220 손하진 실패\n0221 손하진 설정\n- 선형대수 1-2 끝내기\n- Fu...
1,2024-02-20 23:40:25,권세한,0220 권세한 실패\n0221 권세한 설정\n- 수학의 샘 수학(하) 01. 원의...
2,2024-02-22 00:33:04,박지은,0221 박지은 실패\n0222 박지은 설정\n- 0221 수업 듣기\n- 단어 외우기
3,2024-02-22 10:00:52,권하은,0221 권하은 실패\n0222 권하은 몸살로 off
4,2024-02-23 09:08:25,송호석,0222 송호석 실패\n0223송호석 off
...,...,...,...
82,2024-04-12 19:04:32,권세한,0411 권세한 실패\n0412 권세한 외박출발로 off
83,2024-04-12 22:10:30,이준수,0411 이준수 실패\n0412 이준수 설정\n-한자 1시간\n-독서 1시간\n-운동
84,2024-04-13 22:34:00,박지은,0413 박지은 실패
85,2024-04-14 13:02:16,이신후,0413 이신후 실패\n\n0414 이신후 설정\n- 0413 재도전\n- 세부 계...
86,2024-04-15 20:45:24,권세한,0414 권세한 실패